{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Adding CSS -->
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>Home Page</title>
</head>

<body>
    <header>
        <h1>Welcome to Our Website!</h1>
    </header>

    <main>
        <section>
            <h2>About Us</h2>
            <p>CS 222 Project</p>
        </section>

        <section>
            <h2>Team 96</h2>
            <p>Team Memebers: Bryant, Jack, Jennifer, Yushin</p> 
            
        </section>

        <section class="Menu">
            <h2>Menu</h2>
            <hr>
        </section>

        <section class="actions">
            <a href="/login/" class="button">Login<br> </a> <!-- Replace /login/ with the actual URL to your login page -->
            <a href="/register/" class="button">Register<br></a> <!-- Replace /register/ with the actual URL to your registration page -->
            <a href="/temperature/" class="button">Temperature</a> <!-- Replace /temperature/ with the actual URL to your temperature page -->
        </section>
    
    </main>
</body>

</html>