<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperature Page</title>
</head>

<body>
    <h1>Welcome to the Temperature Page</h1>
    <p>Click the button below to navigate to the temperature section:</p>

    <button onclick="redirectToTemperature()">GO TO TEMPERATURE</button>

    <script>
        function redirectToTemperature() {
            // Redirect to the temperature page or specify the URL you want to navigate to
            window.location.href = '/temperature_analysis'; // Replace '/temperature' with the actual URL you want to navigate to
        }
    </script>
</body>

</html>