{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Adding CSS -->
    <link rel="stylesheet" href="{% static 'register.css' %}">
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
    </form>
    {% if form.errors %}
        <p style="color: red;">{{ form.errors }}</p>
    {% endif %}

    <a href="/home/" class="button">Go back to Homepage</a>
</body>
</html>